#leaderboard{
	width: 98%;
	#colonne_gauche {
		width: 50%; height: 100%;
		padding:0 30px 0 0;
		transform: skewY(-8deg);
		@media only screen and (max-width : 768px) { width: 100%; height: inherit; padding: 0; margin-bottom: 20px;}
	}

	#colonne_droite {
		width: 50%; height: 100%;
		// padding: 0  0 0 30px;
		transform: skewY(-8deg);
		@media only screen and (max-width : 768px) { width: 100%; height: inherit;}
	}

	.title{margin-top: 50px;
		@media only screen and (max-width : 768px) {margin-top: 20px;}
	}
	#classement{
		margin-top: 30px;
		color: $color1;
		background-color: $color3;
		width: 100%; overflow: hidden; position: relative;
		@media only screen and (max-width : 768px) {margin-top: 20px;}
		&::before{
			content: ""; display: block;
			width: 100%;  height: 50%;
			position: absolute; bottom: 0; left: 0; z-index: 2;
			background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.9) 100%); /* FF3.6-15 */
			background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.9) 100%); /* Chrome10-25,Safari5.1-6 */
			background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.9) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#b3000000',GradientType=0 ); /* IE6-9 */
			@media only screen and (max-width : 768px) { display: none;}
		}
		.container{
			transform: skewY(8deg); padding:60px 20px;
			height: 600px; overflow-y: scroll;
			@media only screen and (max-width : 768px) { height: 300px;}
			li{
				list-style: none;
				display: flex; flex-direction: row; align-items: center; justify-content: space-between;
				padding:20px 0;
				border-bottom: 1px solid $color5;
				p.infos{
					display: flex; flex-direction: row; align-items: center; justify-content: flex-start;
					color: $color1; font-family: $robotoC; font-size: 22px; text-transform: uppercase;
					.place{
						font-family: $robotoC; color: $color5; font-size: 25px; width: 45px; text-align: left; display: inline-block; text-transform: none;
						sup{font-size: 0.5em;}
					}
					.pastille{
						width: 50px; height: 50px; border-radius: 100px; display: inline-block; margin: 0 10px 0 0;
						background-color: $color5;
						img{
							width: 100%;
						}
					}
				}
				.pourcentage{
					font-family: $robotoC; color: $color2; font-size: 20px; text-align: right; display: inline-block;
				}
				&:first-child{p.infos{.place{color: $color9;} .pastille{background-color: $color9;}}}
				&:nth-child(2){p.infos{.place{color: $color10;} .pastille{background-color: $color10;}}}
				&:nth-child(3){p.infos{.place{color: $color11;} .pastille{background-color: $color11;}}}
			}
		}
	}

	#podium{
		margin: 100px 0 50px 0;
		display: flex; flex-direction: row; align-items: flex-end; align-items: flex-end;
		@media only screen and (max-width : 768px) {display: none;}
		>div{

			.personne{
				display: flex; flex-direction: column; align-items: center; align-items: center;
				.photo{
					width: 120px; height: 120px; border-radius: 100px; display: inline-block;
					transform: skewY(8deg); border:10px solid $color1;
					background-color: $color5;
					position: relative;
					img{
						width: 100%;
						&.shadow{
							position: absolute;
							top: 0; left: 0;
						}
						&.couronne{
							position: absolute;
							top: -60px; left: -38px; width: 105px;
						}
					}
				}
				.name{
					overflow: hidden; padding:10px 20px; width: 90%;
					position: relative; top: -30px;
					background-color: $color3;
					span.text{
						font-family: $robotoC; color: $color1;
						display: inline-block; text-transform: uppercase; font-size: 15px; text-align: center; width: 100%;
					}
					.banniere{
						width: 6px; height: 61px; position: absolute; background-color: $color1; display: inline-block; margin: 0 20px; transform: rotate(-30deg); top: -11px; right: -18px;
						&::before{
							content: ""; display: block; position: absolute; top: 0; left: -100%; background-color: $color2; width: 100%; height: 100%;
						}
						&::after{
							content: ""; display: block; position: absolute; top: 0; left: 100%; background-color: $color4; width: 100%; height: 100%;
						}
					}
				}
			}
			.estrade{
				width: 100%; background-color: $color1;
				display: flex; flex-direction: column; align-items: center; justify-content: flex-start;
				padding: 40px;
				p{transform: skewY(8deg); font-family: $robotoC; color: $color3; font-size: 70px;}
			}
		}

		.second{
			width: 30%;
			.personne{position: relative; .photo{background-color: $color10;}}
			.estrade{ height: 140px;}
		}

		.first{
			width: 40%;
			.personne{.photo{background-color: $color9;}}
			.estrade{ height: 200px;}
		}

		.third{
			width: 30%;
			.personne{position: relative; .photo{background-color: $color11;} }
			.estrade{ padding: 10px; height: 100px;}
		}
	}

	.buttons{
		display: flex; flex-direction: row; align-items: center; justify-content: space-between;
		a{	padding:30px 20px;
			&:first-child{width: 100%;}
			// &:last-child{width: 60%;}
		}
	}
}
