
// ---------------------------------------------------------------------------
// -----------------------------COLORS--------------------------------
// ---------------------------------------------------------------------------

$color1 : #FFF;
$color2 : #4BB4E6;
$color3 : #292929;
$color4 : #D63100;
$color5 : #b0b0b0;
$color6 : #d2d2d2;
$color7 : #ffcc00;
$color8: #11558a;
$color9: #fcff00;
$color10: #a9a9a9;
$color11: #b3893d;


// ---------------------------------------------------------------------------
// -----------------------------WIDTHS--------------------------------
// ---------------------------------------------------------------------------

$mobile : 600px;
$tablet : 768px;
$desktop : 1024px;
$desktopHd : 1280px;


// ---------------------------------------------------------------------------
// ------------------------------FONTS----------------------------------
// ---------------------------------------------------------------------------

$arial : 'Arial', sans-serif;
$robotoC : 'Roboto Condensed', sans-serif;
$roboto : 'Roboto', sans-serif;
